{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<title>{{ title }}</title>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" charset="utf-8" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'jquery.autocomplete.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'app.js' %}" type="text/javascript" charset="utf-8"></script>

	<link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
	<div id="home">
		<div class="container">
			<a id="home-link" href="/">Home</a>
			<a id="add-item" href="">Add</a>
			{% if user.is_authenticated %}
			<a id="logout-link" href="{% url 'logout' %}">Logout</a>
			{% endif %}
        </div>
    </div>

	{% block search %}
	<div id="search">
		<div class="container">
			<form action="{% url 'search' %}" method="get">
				<input type="text" id="q" name="q" autocapitalize="off" autocorrect="off" {% if query %}value="{{ query }}"{% endif %}/>

				<button type="submit" value="Search">Search</button>
			</form>
		</div>
	</div>
	{% endblock search %}

	<div id="body">
		{% block content %}{% endblock content %}
	</div>

	<div class="background"></div>

	<form id="add-modal" class="modal">
		<a class="cancel-link">Cancel</a>
		<h2>Add Item</h2>

		<textarea type="text" id="add-title" name="title"></textarea>

		<label>Family</label>
		<input type="text" id="add-family" name="family" class="family-box" />

		<label>Notes</label>
		<textarea id="add-notes" name="notes"></textarea>

		<label>Tags</label>
		<input type="text" id="add-tags" name="tags" />

		<input type="submit" value="Add Item" />
	</form>

	{% block modals %}{% endblock modals %}
</body>
</html>
