{% extends '_base.html' %}

{% load markdown %}

{% block content %}
<div id="family-header" class="container">
	<h2>
		<label>{{ family.html|safe }}</label>
		<span><a href="https://familysearch.org/tree/#view=ancestor&person={{ family.husband_id }}">{{ family.husband_id }}</a> / <a href="https://familysearch.org/tree/#view=ancestor&person={{ family.wife_id }}">{{ family.wife_id }}</a></span>
	</h2>
</div>

{% if family.incomplete_items|length %}
<ul class="items sortable">
	{% for item in family.incomplete_items %}
	<li class="container" data-id="{{ item.id }}">
		<a href="{% url "item" item.id %}">
			<label>{{ item.title }}</label>
			{% if item.notes %}<div id="notes" class="sub">{{ item.notes|markdown }}</div>{% endif %}
		</a>
	</li>
	{% endfor %}
</ul>
{% endif %}

{% if family.notes %}
<section id="notes">
	<h2 class="container">Notes</h2>

	<div class="content container">
		{{ family.notes|markdown }}
	</div>
</section>
{% endif %}

{% if family.tags.all|length %}
<section>
	<h2 class="container">Tags</h2>

	<ul class="tags container">
		{% for tag in family.tags.all %}
		<li><a href="/search/?q=tag:{{ tag }}">#{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if family.completed_items|length %}
<section>
	<h2 class="container">Completed</h2>

	<ul class="items completed">
		{% for item in family.completed_items %}
		<li class="container">
			<a href="{% url "item" item.id %}">{{ item.title }}</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% endblock content %}
