{% extends '_base.html' %}

{% block content %}

{# New user #}
{% if not tags and not recent_families and not recent_items and not top_families %}
<section class="new-user">
	<h2 class="container">Welcome!</h2>

	<div class="container">
		To get started, click on the green Add button above.
	</div>
</section>
{% endif %}

{% if recent_families %}
<section class="home split">
	<h2 class="container">Recent Families</h2>

	<ul class="families">
		{% for family in recent_families %}
		<li class="container">
			<a href="{% url "family" family.id %}">
				<label>{{ family.html|safe }}</label>
				<div class="sub">{{ family.incomplete_items_label }}{% if family.incomplete_items|length %}, {{ family.incomplete_items.0.date_created|date:"j M Y" }}{% endif %}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if recent_items %}
<section class="home split">
	<h2 class="container">Recent Items</h2>

	<ul class="items">
		{% for item in recent_items %}
		<li class="container">
			<a href="{% url "item" item.id %}">
				<label>{{ item.title }}</label>
				<div class="sub">{{ item.family.html|safe }}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if top_families %}
<section class="home split">
	<h2 class="container">Top Families</h2>

	<ul class="families">
		{% for family in top_families %}
		<li class="container">
			<a href="/family/{{ family.id }}/">
				<label>{{ family.html|safe }}</label>
				<div class="sub">{{ family.incomplete_items_label }}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if tags %}
<section class="home split">
	<h2 class="container">Top Tags</h2>

	<ul class="tags container">
		{% for tag in tags %}
		<li><a href="/search/?q=tag:{{ tag }}">#{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% endblock content %}
