{% extends '_base.html' %}

{% block content %}
{% if targets|length == 0 and items|length == 0 and tags|length == 0 %}
<section class="results">
	<h2 class="container">No results.</h2>
</section>
{% else %}

{% if targets|length %}
<section class="results">
	<h2 class="container">Matching Targets</h2>

	<ul class="targets">
		{% for target in targets %}
		<li class="container">
			<a href="/target/{{ target.id }}/">
				<label>{{ target }}</label>
				<div class="sub">{{ target.incomplete_items.all|length }} items</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if items|length %}
<section class="results">
	<h2 class="container">Matching Items</h2>

	<ul class="items">
		{% for item in items %}
		<li class="container">
			<a href="/target/{{ item.target.id }}/">
				<label>{{ item.title }}</label>
				<div class="sub">{{ item.target }}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if tags|length %}
<section class="results">
	<h2 class="container">Matching Tags</h2>

	<ul class="tags container">
		{% for tag in tags %}
		<li><a href="/search/?q=tag:{{ tag }}">#{{ tag }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% endif %}
{% endblock content %}
