{% extends "_base.html" %}

{% block search %}{% endblock search %}

{% block content %}

{% if form.errors %}
<h2 class="container">Your username and password didn't match. Please try again.</h2>
{% endif %}

<form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}" class="container">
    {% csrf_token %}

	<div class="group">
		{{ form.username.label_tag }}
        {{ form.username }}
	</div>

	<div class="group">
		{{ form.password.label_tag }}
		{{ form.password }}
	</div>

    <input type="submit" value="Sign in" class="button" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
