body						{ margin: 0; padding: 0; background: #222; }
body *						{ font-family: Source Sans Pro; }

*							{ -moz-box-sizing: border-box; box-sizing: border-box; }

a							{ color: #1282da; text-decoration: none; }
a:hover						{ color: #000; }

.container					{ width: 90%; max-width: 550px; margin: 0px auto; }


/* Home */

#home						{ background: #333; color: #fff; }
#home .container			{ display: -webkit-flex; display: flex; align-items: stretch; padding: 5px 0; }
#home a						{ color: #fff; text-decoration: none; padding: 4px 0 5px; flex: 1; }
#home a:hover				{ color: #fbff95; }
#home a#add-item			{ text-align: center; background: #729b62; border-radius: 3px; }
#home a#add-item:hover		{ background: #111; color: #fff; }
#home a#logout-link			{ text-align: right; }


/* Search */

#search						{ background: #369; color: #fff; }
#search form				{ padding: .5em 0; display: -webkit-flex; display: flex; align-items: stretch; }
#search form input[type=text]	{ -webkit-flex: 12; flex: 12; font-size: 1em; padding: 4px 8px 5px; border: solid 1px #47a; border-radius: 3px; font-weight: 600; }
#search form button			{ -webkit-flex: 2; flex: 2; min-width: 4em; background: #4c8cc7; color: #fff; font-size: 1em; padding: 4px 8px 5px; border: none; border-radius: 3px; cursor: pointer; margin-left: 0; margin-right: 0; -webkit-appearance: none; }
#search form button:hover	{ background: #111; }


/* Content */

#body						{ background: #fff; padding-top: 1.5em; padding-bottom: 2em; }


/* Family page */

#family-header h2			{ font-weight: 400; margin: 0; font-size: 1.2em; line-height: 1.1em; }
#family-header h2 > span	{ display: block; font-size: .7em; color: #ddd; margin-top: .1em; }
#family-header h2 > span a	{ color: #7db3dd; }
#family-header h2 > span a:hover	{ color: #000; }
#family-header h2 label span	{ color: rgba(0, 0, 0, 0.3); }
#family-header h2 + h2		{ margin-top: .5em; }

#family-header + ul			{ margin-top: 1.25em; }


/* Item page */

#item-header				{ border: solid 1px #ddd; border-left: solid 3.1em #ddd; border-radius: 3px; box-shadow: 0 1px 5px #ddd; padding: .6em; cursor: pointer; min-height: 3em; }
#item-header .checkbox		{ border: solid 1px #818181; float: left; width: 1.5em; height: 1.5em; border-radius: 3px; margin-left: -2.9em; box-shadow: 1px 1px 5px #c0c0c0 inset; }
#item-header.completed .checkbox	{ background: #444; border-color: #444; box-shadow: none; }
#item-header h2				{ font-weight: 400; margin: 0; font-size: 1.2em; line-height: 1.1em; cursor: pointer; margin-left: .2em; }

#item-header:hover				{ background: #111; border-color: #444; color: #fff; }
#item-header:hover h2 span a	{ color: #666; }
#item-header:hover .checkbox	{ border-color: #666; box-shadow: none; background: #222; }
#item-header.completed:hover .checkbox	{ border-color: #fff; background: #fff; }

.family-link span			{ color: rgba(18, 130, 218, 0.4); }


/* Notes */

section#notes				{ margin-top: 1.5em; }
#notes p:first-child		{ margin-top: 0; }
#notes p:last-child			{ margin-bottom: 0; }
#notes ul:first-child		{ margin-top: 0; }
#notes ul:last-child		{ margin-bottom: 0; }
#notes p					{ margin: .75em 0; }
#notes ul					{ margin: .75em 0; }


/* Section */

section						{ margin-top: 1.5em; }
section:first-child			{ margin-top: 0; }
section h2					{ font-weight: 400; font-size: 1em; line-height: 1.1em; color: #6993b4; margin-bottom: .2em !important; }


/* Families */

ul.families					{ padding: 0; list-style: none; font-size: 1.1em; margin-top: .45em; }
ul.families > li			{ list-style: none; cursor: pointer; }
ul.families > li + li		{ margin-top: .5em; }
ul.families > li > a		{ display: block; padding: .5em .6em; background: #3e639b; border-radius: 5px; box-shadow: 0 1px 1px #777; color: #fff; }
ul.families > li > a:hover	{ background: #000; }
ul.families > li > a label	{ display: block; line-height: 1.1em; color: #fff; cursor: pointer; }
ul.families > li > a label span	{ color: rgba(255, 255, 255, 0.3); }
ul.families > li > a div.sub	{ font-size: .8em; color: rgba(255, 255, 255, 0.4); line-height: 1.2em; margin-top: 3px; }


/* Items */

ul.items					{ padding: 0; list-style: none; font-size: 1.1em; margin-top: .45em; }
ul.items > li				{ list-style: none; cursor: pointer; }
ul.items > li > a			{ display: block; padding: .5em .6em; background: #745930; border-radius: 5px; line-height: 1.2em; box-shadow: 0 1px 1px #777; cursor: pointer; color: #fff; }
ul.items > li > a:hover		{ background: #000; color: #fff; }
ul.items > li + li			{ margin-top: .5em; }
ul.items > li label			{ display: block; line-height: 1.1em; cursor: pointer; }
ul.items > li div.sub		{ font-size: .8em; color: rgba(255, 255, 255, 0.4); line-height: 1.2em; margin-top: 3px; }
ul.items > li div.sub span	{ color: rgba(255, 255, 255, 0.2); }

ul.items.completed			{ padding: 0; background: none; font-size: .8em; margin-top: .6em; }
ul.items.completed > li	a	{ padding: 0; background: none; border: none; box-shadow: none; color: #aaa; text-decoration: line-through; }
ul.items.completed > li + li	{ }
ul.items.completed > li a:hover	{ color: #000; }

ul.items li.placeholder		{ height: 2em; background: rgba(0, 0, 0, 0.1); border: dotted 1px #999; box-shadow: none; }


/* Tags */

ul.tags						{ padding: 0; list-style: none; font-size: .9em; }
ul.tags li					{ display: inline-block; line-height: 1.5em; margin-right: .5em; }
ul.tags li:last-child		{ margin-right: 0; }

h2 + ul.tags				{ margin-top: .5em; }


/* Controls */

#controls					{ margin-top: 1.5em; border-top: solid 1px #ddd; padding-top: .5em; overflow: hidden; }
#controls span				{ color: #1282da; display: inline-block; cursor: pointer; }
#controls span:hover		{ color: #000; }
#controls span#edit-link	{ float: left; }
#controls span#delete-link	{ float: right; }


/* Media queries */
@media screen and (min-width: 700px) {
	ul.families				{ padding-top: 1em; padding-bottom: 1em; }
	ul.items				{ padding-top: 1em; padding-bottom: 1em; }
}

